<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Registration</title>

    <link rel="stylesheet" href="/stylesheets/auth.css">
</head>
<body>
    <form action="/user/auth?action=<%= action %>" method="post">
        <div class="container">
            <div class="img"></div>
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" placeholder="Username">
            <br>
            <label for="email">Email: </label>
            <input type="email" name="email" id="email" placeholder="Email Address">
            <br>
            <label for="password">Password: </label>
            <input type="password" name="password" id="password" placeholder="Password">
            <br>
            <% if (action==="login" ) { %>
                <button>Login</button>
            <% } else { %>
                <button>Register</button>
            <% } %>
        </div>
    </form>
</body>
</html>