<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Playlist</title>

    <link rel="stylesheet" href="/stylesheets/playlistForm.css">
</head>
<body>
    <h1>Create Playlist</h1>
    <form action="/playlist" method="post">
        <div class="container">
            <label for="name" id="hide">Name: </label>
            <input type="text" name="name" id="name" placeholder="Playlist Name">
            <div class="private">
                <input type="checkbox" name="private" id="private" value="true">
                <label for="private">Make Private</label>
            </div>
            <button>Create</button>
        </div>
    </form>
</body>
</html>