label {
    display: none;
}

input[type=text],
input[type=password],
input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #64b692;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 70%;
}

button:hover {
    opacity: 0.8;
}

.container {
    max-width: 20%;
    min-width: 290px;
    padding: 16px;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img {
    background-image: url('../imgs/usericon.jpg');
    height: 200px;
    width: 60%;
    min-width: 200px;
    background-size: 100% 100%;
}
